# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# IDE/editor-specific settings
.vscode/
.idea/

!news_cache/*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/
