# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# IDE/editor-specific settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output data
*.csv
output/*
!news_*.csv   
!output/news_*.csv# Allow only news_*.csv files to be tracked

# Virtual environments
.venv/
env/
venv/
