requests           # For HTTP requests to NewsAPI
pandas             # For data manipulation and CSV handling
python-dotenv      # For loading API keys from a .env file
schedule           # For optional local scheduling
pytrends           # For fetching Google Trends data
requests[socks]    # Needed for SOCKS5 proxy support via Tor
stem               # For Tor controller support (IP rotation, etc.)
newspaper3k        #For news summary
